GRAFANA_CLOUD_INSTANCE_ID=""
GRAFANA_CLOUD_API_KEY=""
GRAFANA_CLOUD_OTLP_ENDPOINT=""
K8S_CURRENT_CONTEXT="$(kubectl config current-context)"
K8S_CLUSTER_NAME=""
DEPLOYMENT_ENVIRONMENT_NAME="PROD"
GRAFANA_CLOUD_BASIC_AUTH_HEADER=""

# THIS NEED TO CHANGE ON PROD
OTEL_OPERATOR_CERT_MANAGER_ENABLED="false"
