# Generate SECRET_KEY with: openssl rand -hex 64
PLANKA_SECRET_KEY=changeme_generate_with_openssl_rand_hex_64

PLANKA_ADMIN_EMAIL=admin@example.com
PLANKA_ADMIN_PASSWORD=changeme123
PLANKA_ADMIN_NAME=Admin User
